@namespace SCE.HUD.Components
@using Sandbox.UI
@using SCE.Player;
@inherits Panel

<root>
    <div class="" id="weapon">
        <span>MX 6.5mm</span>
    </div>
    <div id="bottom">
        <div class="" id="ammo">
            <span id="currentAmmo">30</span>
            <span id="magCount">5</span>
        </div>
        <div class="" id="other">
            <span id="range">200m</span>
            <span id="grenadeName">RGO Grenade</span>
            <span id="grenadeCount">x2</span>
        </div>
    </div>
</root>

@code {
}