@import 'Styles/Theme.scss';

Weapon {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 90px;

    #weapon {
        display: flex;
        background-color: $bg;
        padding: 4px;
        justify-content: flex-end;
    }

    #bottom {
        display: flex;
        flex-direction: column;
        background: linear-gradient($bg, rgba(0, 0, 0, 0));

        #ammo {
            display: flex;
            padding: 12px 24px;
            justify-content: flex-end;
            align-items: baseline;

            #currentAmmo { font-size: 26px; margin-right: 8px; }
            #magCount { padding-left: 4px; border-left: 3px solid white; }
        }

        #other {
            display: flex;
            justify-content: space-between;
            column-gap: $gap;
            padding: 0 6px;
        }
    }
}